div{
    height: 500px;
    width:20%;
    /* border: black 5px solid;  */
    float: left;
    padding:20px;
    margin-left: 30px;
    
}
img{
    height: 300px;
    width: auto;
    
}
#N{
    color: yellow;
    text-align: center;
    font-style: italic;
    font-weight: 500px;
}
h3{
    color: rgb(12, 12, 221);
    margin-top: -24px;
}
